/*Стили Web Style Production 24 (https://wsp24.ru) */
* {
	font-family: Helvetica,Arial;
}
body {
	font-size: 14px;
}
a, a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: .005rem
}
h1, h2, h4, h5, h6 {
	font-family: "Helvetica Neue LT W02_57 Cond";	
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-family: "Helvetica Neue LT W02_77 Bd Cn";
	font-size: 1.1rem
}
h5 {
	font-size: 1.05rem
}
h6 {
	font-size: .975rem
}
.title {
	font-size: 1.5rem;
	line-height: 1.95rem;
	letter-spacing: .01em;
}
.title a, .title{
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial !important;
}
.equal, .equal > div[class*='col-'] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex:1 0 auto;
}

/*Навигация*/
.navbar .nav-link.icon-int {
	background: url(images/boge-int-pfeil-markiert.png) no-repeat 0 50%;
}

.navbar a {
	font-size: .75rem;
}

.dropdown:hover > .dropdown-menu, .nav-link:hover > .tab-pane { 
	display: block; 
}
.expand-on-click {
	background-image: url(images/icon-search-menu.png);
	background-position: right;
	background-repeat: no-repeat;
	padding: 9px;
	width: 50px;
}
.form-control {
	font-size: .95rem;
	height: 25px;
}
.navbar-1 {
	height: 75px;
}
.navbar-2 li.dropdown>a {
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	font-size: 1.25em;
	letter-spacing: .025em;
}

.navbar-2 .dropdown-toggle::after {
	display: none;
}

.navbar-2 .dropdown-menu {
	right: -8.5rem;
	left: -2rem;
	margin: 0;
	padding: 0;
}

.navbar-2 .dropdown-menu li:nth-child(3n) {
	border-right: none !important;
}
.navbar-2 .dropdown-menu a {	
	font-family: "Helvetica Neue LT W02_57 Cond",Helvetica,Arial;
	font-size: .95rem;
	line-height: 44px;
	letter-spacing: .04em;
}
.navbar-2 .dropdown-menu a:hover {
	text-decoration: none;
}
.navbar-2 .dropdown-menu div {
	clear: both;
}
.navbar-2 .dropdown-menu div a {
	background: url(images/nav-overview-cubes.png) no-repeat 0 50%;
}
.logo {
	height: 60px;
}

.logo::before {
	position: absolute;
	bottom: -20px;
	left: 220px;
	content: "";
	border-left: 28px solid transparent;
	border-top: 21px solid #fff;
	width: 100%;
	z-index: 2;
}
.carousel-inner::after {
	position: absolute;
	bottom: -24px;
	right: 0px;
	content: "";
	border-top: 21px solid #fff;
	width: 750px;
	z-index: 2;
	top: -1px;
}
.logo a {	
	background: url(images/boge_logo_claim.png) no-repeat left top;
	height: 100%;
	background-size: 100%;
}




/*Слайдер*/
.carousel img {
	height: 355px;
}
.carousel-fade .carousel-indicators li {
	width: .95rem;
	height: .95rem;
	opacity: .75;
}
.carousel-indicators .active {
	background-color: #a5e93a;
}

/*Техт на слайдере*/
.slider-text {
	height: calc(100% - 50px);
}

.slider-text h2 {
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	line-height: 44px;
	max-width: 500px;
}

.slider-text a {
	position: relative;	
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	font-size: 1.5rem;
	padding-left: 60px;
}
.slider-text a:hover {
	text-decoration: none;
}
.slider-text a:before {
	position: absolute;
	content: "";
	width: 46px;
	height: 46px;
	background-image: url(images/sprite.png);
	background-position: -17px -157px;
	border-radius: 50%;
	top: -10px;
	left: 0;
}

.slider-text a:hover:before {	
	background-position: -95px -157px;
}
.no-link-slide {
	height: 36px;
}


/*Уведомление о куках*/
.alert {
	opacity: .9;
}

.alert p {
	font-size: .675rem
}

.alert-black h2 {
	line-height: 1.4;
}

/*Кнопка скроллинга в начало страницы*/
#top-scroller {
	display: none;
	top: 470px;
	right: 0;
	font-size: 0;
	width: 50px;
	height: 50px;
	background: url(images/to-top.png) no-repeat center center #fff;
	background-size: 19px 13px;
	z-index: 9999;
	cursor: pointer;
}
#top-scroller:hover {
	background: url(images/to-top-hover.png) no-repeat center center #fff;
	background-size: 19px 13px;    
}