/*Стили Web Style Production 24 (https://wsp24.ru) */
* {
	font-family: Helvetica,Arial;
}
body {
	font-size: 14px;
}
a, a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: .005rem
}
h1, h2, h4, h5, h6 {
	font-family: "Helvetica Neue LT W02_57 Cond";	
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-family: "Helvetica Neue LT W02_77 Bd Cn";
	font-size: 1.1rem
}
h5 {
	font-size: 1.05rem
}
h6 {
	font-size: .975rem
}
main {
	min-height: calc(100vh - 131px - 237px);
}
.title {
	font-size: 1.5rem;
	line-height: 1.95rem;
	letter-spacing: .01em;
}
.title a, .title{
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial !important;
}
.equal, .equal > div[class*='col-'] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex:1 0 auto;
}
.cursor-pointer {
	cursor: pointer;
}
.navbar-2 li.dropdown>a, footer .navbar-nav a {
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	letter-spacing: .025em;
}
.navbar-2 li.dropdown>a {
	font-size: 1.25em;
}
footer .navbar-nav a {
	font-size: 1rem
}

/*Крошки*/
.breadcrumb {
	position: relative;
}
.breadcrumb span {
	display: flex;
	padding: 50px 15px;
}
/*Конец крошек*/

/*Навигация*/
.navbar-1 {
	float: right;
}
.navbar .nav-link.icon-int {
	background: url(images/boge-int-pfeil-markiert.png) no-repeat 0 50%;
}
.navbar a {
	font-size: .75rem;
}
.dropdown:hover > .dropdown-menu, .nav-link:hover > .tab-pane { 
	display: block; 
}
.expand-on-click {
	background-image: url(images/icon-search-menu.png);
	background-position: right;
	background-repeat: no-repeat;
	padding: 9px;
	width: 50px;
}
.form-control {
	font-size: .95rem;
	height: 25px;
}
.navbar-1 {
	height: 75px;
}
.navbar-2 .dropdown-toggle::after {
	display: none;
}
.navbar-2 .dropdown-menu {
	right: -5.5rem;
	left: -6rem;
	margin: 0;
	padding: 0;
}
.navbar-2 .dropdown-menu li:nth-child(3n) {
	border-right: none !important;
}
.navbar-2 .dropdown-menu a {	
	font-family: "Helvetica Neue LT W02_57 Cond",Helvetica,Arial;
	font-size: .95rem;
	line-height: 44px;
	letter-spacing: .04em;
}
.navbar-2 .dropdown-menu a:hover {
	text-decoration: none;
}
.navbar-2 .dropdown-menu div {
	clear: both;
}
.navbar-2 .dropdown-menu div a {
	background: url(images/nav-overview-cubes.png) no-repeat 0 50%;
}
.logo {
	height: 60px;
}
.logo::before {
	position: absolute;
	bottom: -20px;
	left: 220px;
	content: "";
	border-left: 28px solid transparent;
	border-top: 21px solid #fff;
	width: 100%;
	z-index: 2;
}
.carousel-inner::after, .breadcrumb::after {
	position: absolute;
	bottom: -24px;
	right: -1px;
	content: "";
	border-top: 21px solid #fff;
	width: 700px;
	z-index: 2;
	top: -1px;
}
.logo a {	
	background: url(images/boge_logo_claim.png) no-repeat left top;
	height: 100%;
	background-size: 100%;
}
.carousel-control-next {
	z-index: 100;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: rgba(255,255,255,.5);
	width: 50px;
	height: 50px;
	background-size: 50%;
	top: -90px;
	position: relative;
}
.my-bodge {
	font-size: .5rem;
}

/*Слайдер*/
.carousel img {
	height: 355px;
}
.carousel-fade .carousel-indicators li {
	width: .95rem;
	height: .95rem;
	opacity: .75;
}
.carousel-indicators .active {
	background-color: #a5e93a;
}
.slider-text a {
	color: #fff;
}

/*Техт на слайдере*/
.slider-text {
	height: calc(100% - 50px);
	color: #fff;
}

.slider-text h2 {
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	line-height: 44px;
	max-width: 500px;
}
.slider-text a {
	position: relative;	
	font-family: "Helvetica Neue LT W02_77 Bd Cn",Helvetica,Arial;
	font-size: 1.5rem;
	padding-left: 60px;
}
.slider-text a:hover {
	text-decoration: none;
}
.slider-text a:before {
	position: absolute;
	content: "";
	width: 46px;
	height: 46px;
	background-image: url(images/sprite.png);
	background-position: -17px -157px;
	border-radius: 50%;
	top: -10px;
	left: 0;
}
.slider-text a:hover:before {	
	background-position: -95px -157px;
}
.no-link-slide {
	height: 36px;
}

/*Уведомление о куках*/
.alert {
	opacity: .9;
}
.alert p {
	font-size: .675rem
}
.alert-black h2 {
	line-height: 1.4;
}

/*Кнопка скроллинга в начало страницы*/
#top-scroller {
	display: none;
	top: 470px;
	right: 0;
	font-size: 0;
	width: 50px;
	height: 50px;
	background: url(images/to-top.png) no-repeat center center #fff;
	background-size: 19px 13px;
	z-index: 9999;
	cursor: pointer;
}
#top-scroller:hover {
	background: url(images/to-top-hover.png) no-repeat center center #fff;
	background-size: 19px 13px;    
}

/*Слайд-шоу*/
* {
	box-sizing: border-box;
}
.container {
	position: relative;
}
.mySlides {
	display: none;
}
.cursor {
	cursor: pointer;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	float: left;
	width: 16.66%;
}
.dot {
	opacity: 0.6;
}
.active,
.dot:hover {
	opacity: 1;
}

/*Подвал*/
.footer-1, .breadcrumb {
	background: #002e6b;
	background: -moz-linear-gradient(-45deg,#002e6b 0%,#002e6b 40%,#0072b9 60%,#0072b9 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#002e6b),color-stop(40%,#002e6b),color-stop(60%,#0072b9),color-stop(100%,#0072b9));
	background: -webkit-linear-gradient(-45deg,#002e6b 0%,#002e6b 40%,#0072b9 60%,#0072b9 100%);
	background: -o-linear-gradient(-45deg,#002e6b 0%,#002e6b 40%,#0072b9 60%,#0072b9 100%);
	background: -ms-linear-gradient(-45deg,#002e6b 0%,#002e6b 40%,#0072b9 60%,#0072b9 100%);
	background: linear-gradient(135deg,#002e6b 0%,#002e6b 40%,#0072b9 60%,#0072b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e6b',endColorstr='#0072b9',GradientType=1);
}
.footer-1 {
	margin-top: 50px;
}
footer {
	position: relative;
}

footer > div::after {
	position: absolute;
	content: "";
	left: 0;
	top: -1px;
	height: 21px;
	width: 50%;
	background: #fff;
}
footer > div::before {
	position: absolute;
	content: "";
	right: 225px;
	top: -1px;
	border-right: 28px solid transparent;
	border-top: 21px solid #fff;
	width: 700px;
	height: 17px;
}
.ext {
	background: url(images/footer_ext_link.png) no-repeat left 3px;
	background-size: 14px;
	height: 25px;
}

.social {
	background-size: 100% !important;
	font-size: 0;
	height: 25px;
}
.youtube {
	background: url(images/footer_youtube.png) no-repeat left top;
	width: 30px;
}
.twitter {
	background: url(images/footer_twitter.png) no-repeat -1px top;
	width: 24px;
}
.facebook {
	background: url(images/footer_facebook.png) no-repeat left top;
}
.linkedin {
	background: url(images/footer_linkedin.png) no-repeat left top;
}
.xing {
	background: url(images/footer_xing.png) no-repeat left top;
}
.facebook, .linkedin, .xing {
	width: 25px;
}
.footer-2 {
	background: #002f6b;
}

@media (max-width: 1100px) {
	.breadcrumb span {
		padding: 50px 0px;
	}
}

@media (max-width: 768px) {
	.alert-dismissible {
		padding-right: 0;
	}
	.logo a {
		background-image: url(images/boge_logo_.png);
	}
	.border-lg-none {
		border: none !important;
	}
	.title {
		font-size: 1.25rem;
	}
	.image-full-md {
		width: 100%;
		height: auto;
	}

	/*Карусель*/
	.carousel-inner::after, .breadcrumb::after {
		width: 400px;
	}
	.carousel-indicators {
		display: none;
	}
	.slider-text {
		position: inherit !important;
		color: #007bff;
		height: 100%;
		padding-top: 30px;
	}	
	.slider-text a {
		color: #007bff;
	}
}

@media (max-width: 576px) {
	.display-sm-none {
		display: none !important;
	}
	.carousel img {
		width: auto !important;
		height: 150px;
	}
	.slider-text h2 {
		font-size: 1.75rem;
	}
}